.about-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    font-size: 16px;
    color: #a7a4a4;

    h1 {
      font-size: 50px;
      font-family: "Coolvetica";
      color: #ffd700;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: 10px;
    }
    p {
      animation: pulse 1s;
    }
  }
}
